### Database connection
# You can use any database you want, that is supported by Kotlin Exposed
# Read more about it here: https://github.com/JetBrains/Exposed?tab=readme-ov-file#supported-databases
# MariaDB support is compiled in. Just use jdbc:mariadb:// and org.mariadb.jdbc.Driver as the driver
DATABASE_URL=jdbc:mysql://localhost:3306/your_database
DATABASE_DRIVER=com.mysql.cj.jdbc.Driver
DATABASE_USER=your_user
DATABASE_PASSWORD=your_password

SENTRY_AUTH_TOKEN=your_sentry_auth_token

# Optional
BOT_TOKEN=your_discord_bot_token
GUILD_ID=your_discord_guild_id
RIDE_LOG_CHANNEL_ID=your_discord_ride_log_channel_id
ECONOMY_LOG_CHANNEL_ID=your_discord_economy_log_channel_id