### Database connection
# You can use any database you want, that is supported by Kotlin Exposed
# Read more about it here: https://github.com/JetBrains/Exposed?tab=readme-ov-file#supported-databases
# MariaDB support is compiled in. Just use jdbc:mariadb:// and org.mariadb.jdbc.Driver as the driver
DATABASE_URL=jdbc:mysql://localhost:3306/your_database
DATABASE_DRIVER=com.mysql.cj.jdbc.Driver
DATABASE_USER=your_user
DATABASE_PASSWORD=your_password